/*from app.vue*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header {
    padding: 20px;
    text-decoration: none !important;
}

nav {
    width: 100%;
    overflow: hidden;
    background-color: inherit !important;
    border-top: 8px solid var(--accent);
    border-bottom: 8px solid var(--accent);

}

#logo {
    color: var(--logo);
    font-size: 80px;
    text-align: center;
    text-decoration: none;
}

#logo:hover {
    color: var(--logo-hover);
    text-decoration: none !important;
}

.nav-item {
    font-size: 40px !important;
}

.nav-link {
    color: var(--nav-link) !important;
    font-size: 30px;
}

.active {
    text-decoration: underline;
}

.nav-link:hover {
    color: var(--nav-link-hover) !important;
}

footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--accent);
}

.footer-link {
    font-size: 15px;
    padding: 15px 10px;
    text-align: center;
    color: var(--nav-link);
    text-decoration: none;
}

.footer-link:hover {
    color: var(--nav-link-hover);
    text-decoration: underline;
}

@media only screen and (min-width: 992px) {
    .collapse {
        display: flex;
        justify-content: center;
    }

    .navbar-nav {
        width: 100% !important;
        display: flex;
        justify-content: space-around !important;
    }
}

@media only screen and (max-width:490px) {
    #logo {
        font-size: 60px;
    }
}