.admin-options-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.admin-options-wrapper h1{
    font-size:60px;
    padding:25px;
    padding-bottom:0px;
    padding:initial;
    height:initial;
    width:initial;
    margin:initial;
}
.admin-options-wrapper .options-nav{
    border:none;
    
}
.admin-options-wrapper .options-nav ul{
    display:flex;
    flex-wrap: wrap;
    list-style: none;
    background-color:inherit;
}
.admin-options-wrapper .options-nav li{
    padding:10px;
    font-size:30px;
    border:0px;
}
.admin-options-wrapper .router-link{
    color:var(--text);
}