.projects-wrapper h2{
    text-align: center;
    color: var(--header2);
}
.projects-wrapper ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.projects-wrapper input{
    height:500px;
}