.project-link-wrapper{
    border:3px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
    width:550px;
    box-shadow: #ccc 2px 2px;
    margin:20px;
}
.project-link-wrapper .title-wrapper{
    align-self: center;
}
.project-link-wrapper .project-image{
    height:300px;
    align-self: center;
    border:1px solid black;
}
.project-link-wrapper .title{
    font-size: 35px;
}
.project-link-wrapper .description{
    font-size:30px;
    padding:10px;
    color: black;
    background-color: #eee;
    text-shadow: 1px 1px #99a;
    border-top:1px solid gray;
}