/*global link style, might need to be changed*/
a,
internal-links {
    color: var(--link);
}

a:hover,
internal-links:hover {
    color: var(--link-hover);
}

hr {
    border-top: 2px dashed var(--accent2) !important;
}


h2 {
    font-size: 70px;
    padding: 30px;
    text-align: center;
    color: var(--header);
}

h3 {
    font-size: 50px;
    padding: 15px;
    text-align: center;
    color: var(--header2);
}

p {
    font-size: 35px;
    padding: 10px;
    color: var(--text);
}

.my-image {
    margin: 25px;
    height: 450px;
    border: 2px solid var(--accent);
}

h4 {
    font-size: 40px;
    text-align: center;
    color: var(--text2);
}

.team-members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

.team-members li {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-members h5 {
    font-size: 40px;
    text-align: center;
    color: var(--text);
}

.team-members img {
    height: 250px;
}

.inspiration-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.inspiration-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inspiration-list img {
    width: 250px;
}

.inspiration-list a {
    font-size: 30px;
    text-align: center;
}

@media only screen and (max-width:750px) {
    .image-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width:751px) {
    .my-image {
        float: left;
    }
}